{% extends 'base.html.twig' %}
{% block body %}
    <h1>Inscription</h1>
    {{ form_start(form) }}
        {{ form_row(form.email,{'label': 'Email','attr' : {'placeholder' :'Email'}}) }}
        {{ form_row(form.password,{'label': 'Mot de Passe','attr' : {'placeholder' :'Mot de Passe'}}) }}
        {{ form_row(form.confirm_password,{'label': 'Confirmation de mot de passe','attr' : {'placeholder' :'Confirmation de mot de passe'}}) }}
        <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end(form) }}
{% endblock %}